# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# Env files
.env

# VS / Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Mac / Linux
.DS_Store
*.swp

# Logs
logs/
*.log
